
.mycontainer {
    min-width: 830px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerText {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #640000;
}

.myHeader {
    margin-bottom: 20px;
}


.loggut-button {
    display: flex;
    justify-self: flex-end;
    height: 34px;
    margin: 5px;
}

.webkom_image {
    max-width: 70px;
    max-height: 70px;
    margin: 10px;
    -webkit-filter: opacity(20%); /* Chrome, Safari, Opera */
    filter: opacity(20%);
}

.asd {
    display: flex;
}

.add-button {
    display: flex;
    align-items: flex-end;
}

.add-button > button {
    height: 34px;
    margin: 5px;
}

.asd > .form-group {
    margin: 5px;
}

.top-heading {
    display: flex;
    align-items: center;
}

.name-heading {
    margin-left: 120px;
    display: flex;
    justify-content: center;
}

.mypanel {
    display: inline;
}


.trans_table{
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.trans_table > .th {
    width: 25%;
}

.person-trans-table {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}