body {
	color: #555;
	background-color: #CCC;
	padding: 3em;
	text-align: left;
	font-family: sans-serif;
	font-weight: lighter;
}
#container {
	display: flex;
	align-items: center;

}


.value{
	text-align: right;
}
.valueNegative{
	color: #f00
}

.divList, .divUser{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
	background-color: #FFF;
	padding: 3em;
	border-radius: 0.8em;
	box-shadow: 0.5em 0.6em 0.2em #888;
}
.divList td, .divUser td{
	border-top: 0.05em dotted #333;
}
.divList td, .divList th{
	padding: 0.5em;
	width: 20%
}
.divList div, .divUser div{
	padding: 0.7em;
	margin-bottom: 0.7em;
}

.divUser td, .divUser th{
	padding: 0.5em;
}


.header {

}




.header {
	text-align: center;

}
.header h1{
	font-weight: lighter;
	font-size: 3em;
}


h2 {
	text-align: center;
}


.inpDeposit, .inpBalance {
	width: 5em;
}

.btnDeposit {
	background-color: #00FF48;
	color: #000;
}
.btnDeposit:hover {
	background-color: #00B233;
}
.btnWithraw {
	background-color: #FF0000;
	color: #111;
}
.btnWithraw:hover {
	background-color: #B20000;
}
.btnWithraw, .btnDeposit, input {
	border-radius: 0.2em;
	border: 0.1em solid #333;
	padding: 0.3em;
}

td.delete, th.delete{
	width: 3em;
	display: flex;
	flex-direction: row-reverse;
}
.delete button {
	background-color: inherit;
	border: none;
	color: #FF0000;
	font-weight: 550;
	font-size: 1.05em;
}
