

.div {
  text-align: center;
}

.div form {

}

.balance {
	width: 5em;

}


.button {
	background-color: var(--brus-green);
}
.button:hover {
	background-color: var(--brus-green-dark);
	transition: background-color var(--transition-short);
}
