.withraw {
	background-color: var(--abakus-red);
	color: #111;
}
.withraw:hover {
	background-color: var(--abakus-red-dark);
	transition: background-color var(--transition-short);
}

.row:hover {
	background-color: var(--abakus-grey-light);
	transition: background-color var(--transition-short);
}

.row td {
	margin: 0px;

}
