{% load staticfiles crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til Bruslista</title>
    <style>
        li {
            display: inline-block;
        }
        #id_deposit_amount {
            width: 100px;
        }
    </style>
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'liste/myCSS.css' %}">
</head>
<body>
<div class="container mycontainer" style="font-family: sans-serif">
<div class="header page-header">
    <div></div>
    <div class="headerText">
        <img src="{% static "images/webkom.png" %}" class="webkom_image img-responsive" >
        <h1 class="text-center myHeader"> Brusliste for webkom. </h1>
    </div>
    <div class="loggut-button">
        <form class="slett-button" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-default btn-danger btn-sm" type="submit"> Logg ut </button>
        </form>
    </div>
</div>
<div class="row myrow ">
    <h3 class="text-center"> Legg til person i bruslista: </h3>
    <ul class="text-center">
        <li>
            <form class="form-inline asd"  action="{% url 'liste:add' %}" method="post">
                {% csrf_token %}
                {{ add_person_form|crispy }}
                <div class="add-button">
                    <button class="btn btn-default btn-info btn-sm" >
                        <span class="glyphicon glyphicon-user" aria-hidden="true" ></span> Add
                    </button>
                </div>
            </form>
        </li>
    </ul>
    <div class="table-responsive trans_table">
        <table class="table table-hover">
            <colgroup>
                <col span="4" align="justify" >
            </colgroup>
            <thead>
                <tr>
                    <th width="22%"> Personer </th>
                    <th width="22%"> Balanse </th>
                    <th width="22%"> Kjøp </th>
                    <th width="34%"> Fyll på </th>
                </tr>
            </thead>
            <tbody>

            {% if persons %}

            {% for person in persons %}
                <tr>
                    <td style="vertical-align: middle"> <a class="person" href="/{{ person.id }}/transactions/">{{ person.name }}</a> </td>
                    <td style="vertical-align: middle"> {{ person.balance }} </td>
                    <td>
                        <form action="{% url 'liste:pay_bottle' person.id %}" method="post">
                            {% csrf_token %}
                            <button  class="btn btn-default  btn-sm" type="submit"> Kjøp brus (flaske) </button>
                        </form>
                        <form action="{% url 'liste:pay_can' person.id %}" method="post">
                            {% csrf_token %}
                            <button  class="btn btn-default  btn-sm" type="submit"> Kjøp brus (boks) </button>
                        </form>
                    </td>
                    <td>
                        <form class="form-inline" action="{% url 'liste:deposit' person.id %}" method="post">
                            <button type="submit" class="btn btn-default btn-info btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Fyll på med
                            </button>
                            {% csrf_token %}
                            <div class="form-group">
                                {{ deposit_form.deposit_amount }}
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td>Ingen personer i bruslisten.</td>
                </tr>
            {% endif %}
            <tr>
                <td>Balanse: {{ total_balance }} kr</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>
