{% load staticfiles crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til Bruslista</title>
    <style>
        li {
            display: inline-block;
        }
        #id_deposit_amount {
            width: 100px;
        }
    </style>
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'liste/myCSS.css' %}">
</head>
<body>
<div class="container mycontainer" style="font-family: sans-serif">
<div class="header page-header">
    <div></div>
    <div class="headerText">
        <img src="{% static "images/webkom.png" %}" class="webkom_image img-responsive" >
        <h1 class="text-center myHeader"> Brusliste for webkom. </h1>
    </div>
    <div class="loggut-button">
        <form class="slett-button" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-default btn-danger btn-sm" type="submit"> Logg ut </button>
        </form>
    </div>
</div>
    <div class="row">
        <div>
            <div class="table-responsive">
                <div style="float: left">
                <form action="{% url 'liste:index' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-default btn-info btn-sm" type="submit">
                        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span> Tilbake
                    </button>
                </form>
                </div>
                <div class="panel panel-danger mypanel" style="float: right">
                    <div class="panel-heading"> Balanse: {{ person.balance }}</div>
                    <div class="panel-content">
                        <form class="form-inline" action="{% url 'liste:depositFromTransactions' person.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ depositForm.deposit_amount }}
                            </div>
                            <button type="submit" class="btn btn-default btn-info btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Fyll på med
                            </button>
                        </form>
                    </div>
                </div>
                <div>
                    <h3 class="name-heading"> Transaksjonene til {{ person.name }} </h3>
                </div>
                <table class="table table-hover person-trans-table">
                    <thead>
                        <tr>
                            <th>Dato</th>
                            <th>Transaksjoner</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if transactions %}
                    {% for transaction in transactions %}
                        <tr>
                            <td> {{ transaction.date }} </td>
                            <td> {{ transaction.value }} </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td>Du har ingen transaksjoner enda</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Antall brus kjøpt: {{ person.sodasBought }}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
